<div class="forums">
<div class="index-container">

  <!-- Create Forum Button -->
  <div class="text-center">
    <%= link_to "Create A New Forum", new_forum_path, class: "button",
        style: "text-decoration: none; color: white; background-color: #28a745; padding: 10px 15px; border-radius: 8px; position: absolute; right: 20px; top: 85px;" %>
  </div>

  <!-- Header -->


  <!-- Forum Listings -->

    <% if @forums.present? %>
      <% @forums.each do |forum| %>

            <%= link_to  forum_path(forum),data: { turbo_frame: :forum_posts, turbo_action: :advance } , class: "button-forum" do %>
        <div class="banner m-4">


          <div class="banner-content" style="display: flex; flex-direction: column; align-items: center; text-align: center;
                                            position: relative; z-index: 1;">
            <h2 style="font-size: 1em; font-weight: bold; color: #333;">
              <%= forum.title %>
            </h2>


          </div>
        </div>
        <%end%>
      <% end %>
    <% else %>
      <p style="font-size: 1.5em; color: #555;">No forums available. Please check back later!</p>
    <% end %>
  </div>

<div class="forum-show">
<%= turbo_frame_tag :forum_posts do %>
<div class="forum-landing"><p>select a forum to join a conversation</p></div>
<%end%>
</div>
</div>
