<h1 class="text-center" style="margin-top: 100px;">Create a New Forum</h1>

<div class="container" style="max-width: 500px; margin-top: 50px;">
  <%= simple_form_for @forum do |f| %>
    <div>
      <%= f.input :title, label: "Forum Title" %>
    </div>

    
    <div>
      <%= f.submit "Create Forum", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
