
<div class="container" style="max-width: 500px; margin-top: 150px; background-color: #dc2a06; flex-direction: column; border-radius: 12px;">
<h1 class="text-center text-white mb-4" style="margin-top: 40px; font-size: 2rem;">Create a New Forum</h1>
  <%= simple_form_for @forum do |f| %>
    <div>
      <%= f.input :title, label: false, label_html: { class: "text-white" }, input_html: { class: "form-control" }, placeholder: "Title" %>
    </div>


    <div class="text-center mt-4">
      <%= f.submit "Create Forum", class: "button" %>
    </div>
  <% end %>
</div>
