.content {
  max-width: 1200px;
  margin: 0 auto;

  h1{
    font-size: 30px;
  }
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.video-card {
  display: block;
  text-decoration: none;
  color: inherit;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  background-color: #000;
  margin: 0 auto;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-title {
  font-weight: bold;
  font-size: 1.2em;
  margin: 10px 0 5px;
}

.video-meta {
  font-size: 0.9em;
  color: #555;
}

.small-text {
  font-size: 12px;
  margin-top: 5px;
}
