.btn-danger{
  text-decoration: none;
  color: white;
  background-color: #FF6F61;
  padding: 14px 28px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 1.2em;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #FF3E2E;
}

.forum-show-container{
  margin: 0 auto;
  margin-top: 65px;
  width: 80%;
}

.forum-show::-webkit-scrollbar {
  display: none;
}

.avatar{
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin-left: 1rem;
}

.banner{
  width: 20vw;
}

.forums{
  display:flex
}

.forum-show{
  margin-top: 65px;
  height: calc(100vh - 65px);
  overflow-y: scroll;
  flex-grow: 1;
}

.index-container{
  height: calc(100vh - 65px);
  width: fit-content;
  overflow-y: scroll;
  margin-top: 65px;
  padding-top: 20px;
}

.index-container::-webkit-scrollbar {
  width: 8px; /* Set scrollbar width */
}

.index-container::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #dc2a06, #1ba4e4); /* Gradient color */
  border-radius: 4px; /* Rounded corners */
}

.index-container::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Track color */
}

.button-forum{
  display: block;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.196);
}

.forum-landing{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  p{
    font-size: 2rem;

  }
}
