/* Color variables */
:root {
  --color-light: #a7d7b7;
  --color-medium-light: #6c9d7a;
  --color-medium-dark: #4b816f;
  --color-dark: #2d5c5a;
  --color-darker: #1f3b3d;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

// fixed-background MapBox
.fixed-map {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -999 !important;
  display: block;
  top: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.fixed-background-map {
  height: 55vh;
  padding: 10rem 0;
  position: relative;
  width: 50%;
  z-index: 1000 !important;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 15px 1px;
}

.fixed-wrap-map {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}

/* Background Container */
.background-container {
  position: relative;
  min-height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1685195154261-c8167ca7f88c?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  color: white;
  animation: moveBackground 3s ease-in-out forwards;
}

/* Parallax background effect */
@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 100%;
  }
}

/* Card Styles */
.card {
  background-size: cover;

  .index-background-container {
    position: relative;
    min-height: 350vh;
    background-image: url('https://images.unsplash.com/photo-1507838153414-b4b713384a76?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    color: white;
  }
}

/* Glassmorphism effect on cards with background image */
.card {
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  position: relative;
  max-width: 250px;
  height: 350px;
  border-radius: 10px;
  // padding: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 7.5px;
  transition: all 0.7s ease-in-out;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  filter: grayscale(100%);
  transition: filter 0.4s ease, transform 0.4s ease;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  filter: grayscale(100%);
  transition: filter 0.4s ease, transform 0.4s ease;
}

/* Card Hover Effects */
.card:hover {
  filter: grayscale(0%);
  transform: scale(1.1) rotate(5deg);
  border-radius: 15px;
}

/* Floating effect */
.card:hover {
  animation: float 1s ease-in-out infinite;
}

/* Floating keyframes */
@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

/* Card Header */
.cardHeader {
  text-transform: uppercase;
  position: relative;
  width: max-content;
  font-weight: bold;
  transition: all 0.7s ease-in-out;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

/* Card Header After Animation */
.cardHeader::after {
  content: "";
  width: calc(100% + 1rem);
  height: 2.5px;
  transform: translateX(calc(-100% - 1rem));
  background: aqua;
  bottom: -2px;
  left: 0;
  position: absolute;
  opacity: 0;
}

.details {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transform: translateY(95%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.card:hover .details {
  transform: translateY(0%);
  opacity: 1;
  transition-delay: 0.1s;
}

.card:hover .cardHeader {
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.card:hover .details {
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

/* Button Styles */
.button {
  background-color: var(--color-light);
  color: black;
  padding: 2.5px 5px;
  width: max-content;
  border-radius: 2.5px;
  transition: all 0.4s ease-in-out;
}

.button:hover {
  background-color: #ff5722;
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* Header Styling */
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: fadeIn 2.5s ease-in-out;
}

/* Simplified Animated and Bold h1 */
.animated-header {
  font-size: 2.5rem; /* Slightly smaller size */
  font-weight: bold;
  color: #030d19;
  text-transform: uppercase;
  animation: fadeIn 1s ease-in-out; /* Removed multi-colored glowing animation for simplicity */
  position: relative;
  margin-top: 72px;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.6); /* Subtle glow */
}

/* Keyframes for the fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Optional: Add a subtle glow effect on hover */
.animated-header:hover {
  text-shadow: 0 0 6px rgba(255, 0, 0, 0.6); /* Simple red glow */
  color: #240b03;
  transition: all 0.3s ease-in-out;
}


/* Button Styles */
.button {
  background: linear-gradient(45deg, #1ba4e4, #dc2a06);
  color: white;
  // padding: 5px 10px;
  margin-top: 20px;
  margin-right: 8px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
  /* Smoother button transition */
  display: inline-block;
  text-decoration: none;
}

.button:hover {
  background: linear-gradient(45deg, #025c86, #8f1901);
  transform: translateY(-3px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

/* Scroll effect */
html {
  scroll-behavior: smooth;
  /* Smooth scroll effect on anchor links */
}

/* Musician Details */
.musician-details {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-top: 20px;
}

.musician-details h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Back Button */
.back-button-container {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}


.button {
  display: inline-block;
  background-color: var(--color-medium-dark);
  color: white;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 1rem;
  text-decoration: none;
  margin-top: 20px;
  text-align: center;
  transition: background-color 0.4s ease-in-out;
}

.show-background-container {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 40px 0;
  color: white;
}

.musician-container {
  position: relative;
  /* To ensure the content is above the background */
  z-index: 1;
}

/* Header styling */
.header-container {
  text-align: center;
  margin-bottom: 40px;
}

.animated-header {
  font-size: 2.5rem;
  color: #fff;
  /* White text for better contrast against the background */
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

/* Musician details section */
.musician-details-container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin: 40px auto;
  max-width: 900px;
  justify-content: center;
  align-items: flex-start;
  z-index: 2;
  /* Ensures content stays above the background */
}

/* Musician Image styling */
.musician-image {
  flex: 1;
  min-width: 400px;
  max-width: 500px;
  height:max-content;
  border-radius: 16px;
  overflow: hidden;
  padding: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  animation: floatImage 3s ease-in-out infinite;
}

.musician-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

/* Musician Info Styling */
.musician-info {
  flex: 2;
  top: 20px;
  z-index: 10;
  background: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: auto;
  min-width: 300px;
  overflow: hidden;
  position: relative;

}

/* Musician Info - Bio Text */
.musician-info h2 {
  margin-top: 0;
  font-size: 2.5rem;
}

.musician-info p {
  font-size: 1.2rem;
  line-height: 1.6;
}

/* General Styles for Text */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 400px;
}

/* Back Button Styling */
.back-button-container {
  position: fixed;
  /* Use fixed positioning instead of absolute */
  bottom: 20px;
  /* Distance from the bottom of the page */
  left: 50%;
  transform: translateX(-50%);
  /* Center the button horizontally */
  width: auto;
  /* Adjust width as needed */
  text-align: center;
  z-index: 10;
  /* Ensure it's above other elements */
}

// -------------------------------------------------------------------------------------------------------------------

// COMPOSITION SHOW SCSS CODE
.video-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 20px;

  .main-video-container {
    grid-column: 1 / 2;

    .main-video-player {
      width: 100%;
      max-height: 800px;
      border-radius: 8px;
    }

    .main-video-info {
      margin-top: 10px;

      .video-title {
        font-size: 24px;
        font-weight: bold;
        margin: 10px 0;
      }

      .video-meta {
        font-size: 14px;
        color: #666;
      }
    }
  }

  .sidebar {
    grid-column: 2 / 3;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 8px;

    .video-show{
      width: 500px;
    }

    .card-show{
      margin-bottom: 30px;
    }

    h2 {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .related-videos {
      list-style: none;
      padding: 0;

      .related-video {
        display: flex;
        margin-bottom: 10px;

        .related-video-thumbnail {
          width: 120px;
          height: 80px;
          margin-right: 10px;
          border-radius: 4px;
        }

        .related-video-info {
          .related-video-title {
            font-size: 14px;
            font-weight: bold;
          }

          .related-video-meta {
            font-size: 12px;
            color: #666;
          }
        }
      }
    }
  }

  .description {
    grid-column: 1 / 2;
    margin-top: 20px;

    h2 {
      font-size: 18px;
      font-weight: bold;
    }

    p {
      font-size: 16px;
      margin: 10px 0;
    }
  }

  .feedback-section {
    grid-column: 1 / 2;
    margin-top: 20px;

    h2 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    #feedbacks {
      margin-bottom: 10px;
    }

    form {
      textarea {
        width: 100%;
        border-radius: 4px;
        padding: 10px;
        border: 1px solid #ccc;
      }
    }
  }
}
// --------------------------------------------------------------------------------------
.video-card-link {
  border: 1px solid rgba(145, 145, 145, 0);
  text-decoration: none; /* Removes underline from link text */
  color: inherit;        /* Ensures text color doesn't change */
  display: block;        /* Ensures the link covers the whole div */
  transition: background-color 0.3s;

  &:hover {
    cursor: pointer;
  }
}
