<h1>Musicians</h1>
<br>
<br>
<div class="card m-4">
  <div class="details">
    <div class="cardHeader">CSS Hover Animation</div>
    <div class="cardText">
      Welcome to this card where i have made use of the "Hover" effect to add
      some really cool interactions to it. Enjoy
    </div>
    <div class="button">Show more</div>
  </div>
</div>
